## Mini Project | Supervised Learning and Ensembles
----
#### Submitted By: GROUP 5

**Team Members**

> Sandeep Keswani

> Vivek V Krishnan

> Seeju Kumar 

> Shashank Shekhar

In [4]:
%matplotlib inline

In [5]:
import pandas as pd

In [6]:
import sklearn as sk

In [7]:
import seaborn as sns

In [8]:
import matplotlib.pyplot as plt

In [9]:
import numpy as np

In [10]:
from scipy.stats import zscore

In [3]:
pd.read_excel("data/Bank_Personal_Loan_Modelling-1.xlsx", sheet_name=1)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.600000,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.500000,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.000000,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.700000,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.000000,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.400000,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.500000,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.300000,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.600000,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.900000,3,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.400000,3,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.100000,2,0,0,0,0,1,0
12,13,48,23,114,93106,2,3.800000,3,0,0,1,0,0,0
13,14,59,32,40,94920,4,2.500000,2,0,0,0,0,1,0
14,15,67,41,112,91741,1,2.000000,1,0,0,1,0,0,0
15,16,60,30,22,95054,1,1.500000,3,0,0,0,0,1,1
16,17,38,14,130,95010,4,4.700000,3,134,1,0,0,0,0
17,18,42,18,81,94305,4,2.400000,1,0,0,0,0,0,0
18,19,46,21,193,91604,2,8.100000,3,0,1,0,0,0,0
19,20,55,28,21,94720,1,0.500000,2,0,0,1,0,0,1
20,21,56,31,25,94015,4,0.900000,2,111,0,0,0,1,0
21,22,57,27,63,90095,3,2.000000,3,0,0,0,0,1,0
22,23,29,5,62,90277,1,1.200000,1,260,0,0,0,1,0
23,24,44,18,43,91320,2,0.700000,1,163,0,1,0,0,0
24,25,36,11,152,95521,2,3.900000,1,159,0,0,0,0,1
25,26,43,19,29,94305,3,0.500000,1,97,0,0,0,1,0
26,27,40,16,83,95064,4,0.200000,3,0,0,0,0,0,0
27,28,46,20,158,90064,1,2.400000,1,0,0,0,0,1,1
28,29,56,30,48,94539,1,2.200000,3,0,0,0,0,1,1
29,30,38,13,119,94104,1,3.300000,2,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4971,37,13,95,95821,2,1.700000,2,0,0,0,0,0,1
4971,4972,58,28,73,90024,1,1.400000,3,0,0,1,0,0,0
4972,4973,58,32,41,93401,3,2.200000,3,148,0,0,0,1,1
4973,4974,31,1,68,95045,4,4.000000,3,0,0,0,0,1,0
4974,4975,59,33,64,92867,4,1.700000,2,0,0,0,0,0,1
4975,4976,38,11,29,95207,4,1.000000,2,0,0,0,0,1,0
4976,4977,29,5,31,95039,1,1.800000,2,0,0,0,0,1,1
4977,4978,40,15,54,90266,3,0.800000,3,0,0,0,0,1,0
4978,4979,57,27,63,90210,4,2.000000,3,0,0,0,0,1,0
4979,4980,50,26,92,90740,1,2.600000,2,213,0,0,0,0,1
4980,4981,29,5,135,95762,3,5.300000,1,0,1,0,1,1,1
4981,4982,34,9,195,90266,2,3.000000,1,122,0,0,0,1,0
4982,4983,36,10,45,95126,4,0.200000,1,0,0,0,0,0,1
4983,4984,51,26,72,95370,1,2.900000,1,0,0,0,0,0,0
4984,4985,27,1,98,94043,4,2.300000,3,0,0,0,0,0,1
4985,4986,48,23,30,94720,3,1.700000,2,162,0,0,0,1,0
4986,4987,32,6,78,95825,1,2.900000,3,0,0,0,0,0,0
4987,4988,48,23,43,93943,3,1.700000,2,159,0,0,0,1,0
4988,4989,34,8,85,95134,1,2.500000,1,136,0,0,0,0,1
4989,4990,24,0,38,93555,1,1.000000,3,0,0,0,0,1,0
4990,4991,55,25,58,95023,4,2.000000,3,219,0,0,0,0,1
4991,4992,51,25,92,91330,1,1.900000,2,100,0,0,0,0,1
4992,4993,30,5,13,90037,4,0.500000,3,0,0,0,0,0,0
4993,4994,45,21,218,91801,2,6.666667,1,0,0,0,0,1,0
4994,4995,64,40,75,94588,3,2.000000,3,0,0,0,0,1,0
4995,4996,29,3,40,92697,1,1.900000,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.400000,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.300000,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.500000,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.800000,1,0,0,0,0,1,1